body {
	/*background-color: black;*/
	margin: 0;
	padding:
}

.contenedor {
	margin: 0;
	padding: 0;
}

.caja {
	width: 200px;
	height: 200px;
}

#rosa {
	background-color: #EE3E64;
}

#azul {
	background-color: #2b7db9;
	/*desafio 1*/
	position: relative;
	left: 200px;
}

#verde {
	background-color: #B7D84B;
}

